.heading{
    width: 100%;
    text-align: left;
}
.heading h1{
    display: inline;
}
.heading button{
    float: right;
    border: 1px solid right;
}
.big_image{
    width: 100%;
}
#start,#status{
    font-size: 25px;
}
h4{
    background-color: purple;
    color: plum;
    margin: 0px;
    line-height: 2;
}
.Instruction_image{
    width: 45%;
    display: inline-block;

}
.modal-dialog{
    width: 90%;
}
video{
    background: url("game_console.png");
    background-size: cover;
    background-position: center;
    padding: 25px;
}




